
body{
    color: #17252a;;

    background-color: #2b7a78;

}


h1{
    text-align: center;
}

blockquote{
    display: block;
    font-size: 2rem;
    margin-block-start: 2em;
    /* margin-block-end: 2em;
    margin-inline-start: 40px;
    margin-inline-end: 40px; */
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-left: 10px solid #ccc;
    line-height: 1;
    text-align: center;
    color: #b999be;
}

ul, ol {
    font-size: 20px;
    color: rgb(158, 93, 93);
    background: #DEF2F1;
    text-align:left;
    padding: 14px 25px;
    display: inline-block;
}

p{

    font-size: 20px;
    color: rgb(158, 93, 93);
    background: #DEF2F1;
    text-align:left;
    padding: 10px 20px;
    display: inline-block;
}



a:link {
    text-decoration: none;
  }

a:link, a:visited {
    background-color: #ffB6C1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    float: right;

  }


  a:hover, a:active {
    background-color:hotpink;
  }


.container {
    padding: 30px, 30px;
    border: 10px;
    margin: 50px;
    position: absolute;
}

.header{
    padding: 60px;
    margin-left: 40px ;
    margin-right: 40px;
    text-align: center;
    background: #DEF2F1;
    color: rgb(158, 93, 93);
    font-size: 3.5rem;
}
.row{
    display: flex;
}

.column{
    flex: 50%;
    padding: 5px;
}

#quote2ID {
    font-size: 2rem;
    color: #b999be;
   
    line-height: 1;
    border-left: 10px solid #ccc;
    display: block;
}

